@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
html{
    height: 100%;
}



body {
 
    background-color: whitesmoke;
    background-attachment: scroll;
    font-family: Arial, Helvetica, sans-serif;
    /*font-family: 'Dancing Script', cursive;*/
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    min-height: 100%;
    /* margin: 0; */
}
#seleccionados {
    text-align: center;
}
.contenedor {
	background: #550a46;
	color: #fff;
	width: 90%;
	max-width: 800px;
	margin: 29.92px auto;
	padding: 29.92px;
	border-radius: 10px;
}

.contenedor h1 {
	color: #f8b400;
	margin-bottom: 20px;
	font-family: 'Merriweather', serif;
	font-weight: normal;
	font-size: 32px;
}

.contenedor p {
	line-height: 200%;
	margin-bottom: 20px;
	font-size: 16px;
}

header{
    width:98%
    padding: 1px
    border: 2px solid black
    backgrond-color: #f4fad2
    box-sizing: border-box

    display: flex
    flez-direction: row
    flex-wrap: wrap;
    align-items: center
}

.producto {
    text-align: center ;
    background-color:rgb(202, 194, 190);
    width: 300px;
    border-radius: 10px;
    padding:5px;
    margin:10px;
    display:inline-block;

    flex-direction: column;
}
.subtitulo {
    padding-left: 40px;
}

.subtitulo h2 {
    font-family: 'Dancing Script', cursive; 
}
nav {
    background-color: rgba(106, 165, 106, 0.795);
    text-align:center;
    width: 98%
    padding: 1px
    border: 2px solid black
    box-sizing: border-box

    display:flex 
    flex-direction: row
    justifly-content: space-around

}
#botonUnico {
    color:teal;
    padding: 50px;
}
nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 30px;
    /* padding: 10px 10px 10px; */

}
a:hover {
    background-color: whitesmoke;
    /*font-weight: bolder;*/
}
ul {
    list-style-type: none;
    flex-direction: column;
}
li {
    display: inline-block;
    flex-direction: column;
}
h1 {
    color: rgb(53, 62, 70);
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 72px;
    text-align: center;
}
/*p {
    background-color: mediumpurple;
} */  
footer {

    background-color: rgba(106, 165, 106, 0.795);
    color:black;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    
}

.especial { /* Nos referimos a la CLASE especial*/
    color:red;
}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75)
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.header{
    grid-area: header;
    background-color: #fff;
}

.h1{
    grid-area: h1;
    background-color: rgb(59, 240, 128);
}

.h2{
    grid-area: h2;
    background-color: rgb(59, 240, 128);
}

.h3{
    grid-area: h3;
    background-color: rgb(59, 240, 128);
}

.h4{
    grid-area: h4;
    background-color: rgb(59, 240, 128);
}


.h5{
    grid-area: h5;
    background-color: rgb(59, 240, 128);
}

.h6{
    grid-area: h6;
    background-color: rgb(59, 240, 128);
}

.footer{
    grid-area: footer;
    background-color: rgb(0, 158, 40);
}

.grid-container{
    display: grid;
    gap: 10px;
    grid-template: 
    "header" 100px
    "h1" auto
    "h2" auto
    "h3" auto
    "h4" auto
    "h5" auto
    "h6" auto
    "footer" auto;
}

@media screen and (max-width:600px){
   .grid-container{
       .grid-template:
       "header header " 100px
       "h1 h2" auto
       "h3 h4" auto
       "h5 h6" auto
       "footer footer" 100px /
        200px  auto;
   }
@media screen and (max-width:900px){
    .grid-container{
        .grid-template:
        "header header heasder" 100px
        "h1 h2 h3" auto
        "h4 h5 h6" auto
        "footer footer footer" 100px/
        200px auto 200px;
    }
}